body {
    background-image: url('images/background.jpg');
    background-size: cover;
    font-family: cursive;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 14%;
    margin-bottom: 20px;
    font-size: xxx-large;
    color: rgba(71,35,8,0.94);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#ingredients {
    width: 50%;
    height: 60px;
    border-radius: 15px;
    border-width: 1px;
    padding: 10px;
    font-family: monospace;
}

.button {
    background-color: rgba(248,206,168,255);
    color: rgba(71,35,8,0.94);
    border: none;
    width: 80px;
    height: 30px;
    margin: 8px;
    font-weight: bold;
    border-radius: 5px;
}

.recipe {
    width: 50%;
    height: 250px;
    border-radius: 15px;
    padding: 10px;
    resize: none;
    margin-top: 5px;
}

.user-data {
    width: 25%;
    height: 40px;
    border-radius: 15px;
    border-width: 1px;
    padding: 10px 10px 10px 15px;
    font-family: monospace;
    font-size: larger;
}

.question {
    display: flex;
    justify-content: center;
    color: rgba(71,35,8,0.94);
}

.link {
    color: #833241;
    padding-left: 5px;
}

.error {
    color: #c73854;
    margin-bottom: 0;
}

.login-return-link {
    color: #b8374f;
    font-weight: bold;
    position: fixed;
    top: 165px;
    left: 55px;
    transform: rotate(-13deg);
}

.save-button {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 25%;
    margin: 5px;
}

.my-recipes-button {
    position: fixed;
    left: 25%;
    margin: 5px;
    font-size: large;
    text-decoration: none;
    color: black;
}

.my-recipes-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.hidden {
    display: none;
}

.table-container {
    width: 50%;
    height: 400px;
    overflow-y: auto;
    margin: 0 auto;
}

#recipe-table {
    border-collapse: collapse;
}

.recipe-cell {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    width: 50%;
}

#recipe-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#recipe-table tbody tr:hover {
    background-color: #ddd;
}