<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>
        <a class="login-return-link" href="/">RETURN</a>

        <h1>Sign up</h1>

        <form class="container" action="/sign_up" method="POST">
            <input type="text" class="user-data" name="username" placeholder="Username" required><br><br>
            <input type="password" class="user-data" name="password" placeholder="Password" required><br><br>
            <input type="password" class="user-data" name="confirm-password" placeholder="Confirm password" required>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
            <br>
            <button type="submit" class="button">Sign up</button>
        </form>

        <p class="question">Already have an account? <a class="link" href="login">Login</a></p>
    </body>
</html>